* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #121212;
  color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.profile-container {
  width: 80%;
  max-width: 1000px;
  background-color: #1e1e1e;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}

.profile-header {
  text-align: center;
  padding: 20px;
  background-color: #4900a2;
  color: #e0e0e0;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #333333;
  margin-top: -75px;
}

.profile-name {
  margin-top: 10px;
  font-size: 24px;
  font-weight:800;
}

.profile-bio {
  font-size: 16px;
  margin: 10px 0;
}

.profile-content {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.profile-card {
  background-color: #2a2a2a;
  width: 30%;
  min-width: 200px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border:1px solid;
  border-color: rgba(0, 0, 0, 0);
  transition: border-color 0.3s, box-shadow 0.3s;
}
.profile-card:hover {
  border:1px solid;
  border-color: rgb(20, 243, 255);
}

.profile-card h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #e0e0e0;
}

.profile-card p {
  font-size: 16px;
  color: #b0b0b0;
}
